<div style="width:100%;position: absolute; top: 45em;left: 12em;" fxFlex="100" fxLayout="row wrap">
    <img class="wave" src="../../assets/images/sol_wave_bg .svg" />
    <div class="sub" fxLayout="row wrap" fxFlex="40" style="width:100%">
        <div fxLayout="column wrap" class="card-container" fxLayoutAlign="center center" fxLayoutGap="10px"
            style="width:100%">
            <div fxLayout="column" class="card" fxLayoutAlign="center start" fxLayoutGap="15px">
                <img class="img-width" src="../../assets/images/Get Paid Instantly.png">
                <p class="text1-color">Quick cash disbursement</p>
                <p class="text2-color">Get terms loans that your business needs within 72 hrs</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center start" fxLayoutGap="15px">
                <img class="img-width" src="../../assets/images/Low interest rate.png">
                <p class="text1-color">Low-interest rate</p>
                <p class="text2-color">Achieve your financial goals with an amazing interest rate starting at 13% per
                    annum</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center start" fxLayoutGap="15px">
                <img class="img-width" src="../../assets/images/Secure Payments.png">
                <p class="text1-color">Zero Paperwork</p>
                <p class="text2-color">Get started instantly by submitting only your basic details & bank statements
                </p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center start" fxLayoutGap="15px">
                <img class="img-width" src="../../assets/images/freelancer_feature_icon_6@1.5x.png" />
                <p class="text1-color">Ace your business finances</p>
                <p class="text2-color">Manage banking, accounting & everything in between, on one platform</p>
            </div>
            <div fxLayout="column" class="card" fxLayoutAlign="center start" fxLayoutGap="15px">
                <img class="img-width" src="../../assets/images/Covid.png">
                <p class="text1-color">Loans to fight COVID-19</p>
                <p class="text2-color">Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="1rem" fxFlex="55" fxLayoutAlign="center center">
        <span class="sub-font">Boost your business with Open</span>
        <div fxLayout="column" style="width: 40%;" fxLayoutAlign="start start">
            <img src="../../assets/images/Line 3.svg" />
        </div>
        <div fxLayout="column" fxLayoutAlign="start center">
            <span style="max-width: 60%;">Get your hands on a term loan that’s crafted for your business</span>

        </div>
        <button class="primary-button">
            Get an Open Account
        </button>
    </div>
</div>