<nav>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="start stretch" fxLayoutGap="1em">
        <div fxLayout="row" fxFlex="40" fxLayoutAlign="center center">
            <img style="height: 5em;" src="../../assets/images/logo.png" />
        </div>
        <div fxLayout="row" fxFlex="58" fxLayoutGap="2em" fxLayoutAlign="center center">
            <span>Products</span>
            <span>Solutions</span>
            <span>Pricing</span>
            <span class="primary-button">Login</span>
            <span class="secondary-button">Get Started</span>
        </div>
    </div>
</nav>