<div class="blob" fxLayout="column" fxLayoutAlign="start stretch" fxFLex="100">
    <div fxLayout="column" fxFlex="30" fxLayoutGap="10px" fxLayoutAlign="center end">
        <div fxLayout="column" fxLayoutAlign="end center">
            <span style="font-size: xx-large;max-width: 18rem;">We make it Super Simple</span>
        </div>
        <div fxLayout="column" style="width: 18rem;" fxLayoutAlign="start start">
            <img class="line-3" src="../../assets/images/Line 3.svg" />
        </div>
    </div>
    <div fxLayout="column" fxFlex="70" fxLayoutAlign="start end">
        <div fxLayout="column" style="width: 50%;" fxFlex="100" fxLayoutAlign="start start">
            <img class="collect-img" src="../../assets/images/collect_img-video@2x.png" />
        </div>
        <div fxLayout="column" style="width: 50%;z-index: 2;" fxFlex="100" fxLayoutAlign="end end">
            <img class="dots-1" src="../../assets/images/accounting_dots.svg" />
        </div>
    </div>
</div>

<img class="big-circle" src="../../assets/images/big-circle.svg" />